:root {
  /* Bright Colors */
  --pink: #F72585;
  --purple: #7209B7;
  --indigo: #3A0CA3;
  --blue: #4361EE;
  --lightblue: #4CC9F0;
  /* Pastel Colors */
  --pastelpurple: #CDB4DB;
  --pastellightpink: #FFC8DD;
  --pastelpink: #FFAFCC;
  --custompink: rgb(223, 156, 213);
  --pastellightblue: #BDE0FE;
  --pastelblue: #A2D2FF;
}
/* Main Page */
body {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: var(--pastellightpink);
  color: var(--indigo);
  font-family: 'Black Han Sans', sans-serif;
  border-bottom: 2px dashed var(--indigo);
}
a,
.nav-link {

  color: var(--indigo);
  text-decoration: none;
}
.title {
  text-align: center;
  font-size: 300%;
}

#monster-card{
 margin-bottom: 5%;
}
/* Logout hidden until user is logged in */
/* .hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
} */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  font-family: 'Black Han Sans', sans-serif;
  color:white;
  background-color: var(--indigo);
  border-top: 2px dashed var(--custompink)
}

/* Login Page */
#footer-text {
  font-size:larger;
  margin-top: 2%;
}
#login-box {
  background-color: var(--lightblue) !important;
  width: 30%;
  box-shadow:10px 10px var(--purple);
}
.loginTitle {
  font-size: 300%;
  padding-top: 2%;
}
.loginForm {
  font-size: 120%;
  padding: 2%;
}
.loginInput {
margin: 2%;
font-size: 120%;
/* border: 2px var(--pink) solid !important; */
box-shadow: 7px 7px var(--purple);
}
.logBtn, .back-btn {
  font-size: 100%;
  background-color: #7a4ede !important;
  border: none !important;
  color:white;
}
.logBtn:hover, .back-btn:hover {
  font-size: 100%;
  background-color: var(--purple) !important;
  color: white;
}
/* Sign Up Page */
#signup-box {
  background-color: var(--pastelpurple) !important;
  width: 30%;
  box-shadow:10px 10px var(--purple);
}
.signBtn {
  font-size: 100%;
  background-color: #d233d5 !important;
  border: none !important;
  color: white;
}
.signBtn:hover {
  font-size: 100%;
  background-color: #be02c1 !important;
  color: white;
}

.background-color {
  background-image: url("./pages/assets/background.jpg");
  background-color: #cccccc;
}

.login-screen, .signup-screen{
align-items: center;
height: fit-content;
}

.login-image {
  height: 100%;
  width: 400px;
  padding: 20px;
}

.login-submit-btn {
  border: solid black 1px;
  background-color: aquamarine;
}

.login-container, .signup-card {
  padding: 20px !important;
  width: 280px;
  background-color: #A2D2FF;
}

.background-img{
  background-image: url("./pages/assets/background.jpg");
  background-color: #cccccc;
}

.login-screen, .signup-screen {
  align-items: center;
  padding-top: 15px;
  padding-bottom: 100px;
}

.login-image {
  height: 100%;
  width: 400px;
  padding: 20px;
}

.login-submit-btn {
  border: solid black 1px;
  background-color: #A2D2FF;
}

.signup-btn {
  margin-top: 10px;
}

/* Dashboard */
#greeting {
  background-color: #4315afdd !important;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
  padding: 1%;
}
.card {
  padding: 0 !important;
  width: 18rem !important;
  /* border: 4px #be02c1 solid !important; */
  box-shadow: 5px 5px #be02c1;
}
.dashImg {
  width: 100%;
  height: 15vw;
  object-fit: contain;
}
.card-header {
  background-color: var(--pink) !important;
  padding-left: 30px !important;
}
.card-body {
  background-color: var(--pastellightpink);
}


.card-body:hover {
  background-color: var(--lightblue);
}
.rehomeBtn {
  background-color: #CDB4DB;
  color: #7209B7;
  border: 2px #7209B7 solid;
}

.rehomeBtn:hover{
  background-color: #ad85c4;
  color: #7209B7;
}

.rehomeBtn:active{
  background-color: #a564ca;
  color: #ead3eb;
}

.newHeader {
  padding-left: 15px !important;
}
.plusImg {
  width: 100%;
  height: 15vw;
  padding: 15%;

  object-fit: contain;
}

/* Egg Page */
.eggBtn {
  border: 0;
  background-color: #390ca300;
  padding-top: 50%;
}


.eggImg {
  width: 100%;
  height: 20vw;
  object-fit: contain;
}
/*  Monster Page */
.monster-page-image{
  width: 40%;
  padding-top: 9%;
  padding-left: 10%;
  margin: 0;
}

.biome{
  position: relative;
  top: -46%;
  width: 100%;
  z-index:-1;
  padding: 0;
  margin: 0;
  box-shadow: 7px 7px black;
  border: 2px solid purple;
  border-radius: 2%;
}

#disco-ball {
  width: 200px;
  margin-bottom: 330px;
  z-index:1
}

#burger-rain {
  z-index:1

}

.image-column{
  padding: 0;
  margin: 0;
  margin-left: -10%;
  margin-right:2%;
}
.mon-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.mon-btns {
  border-color: var(--lightblue);
  border-radius: 60%;
  border-width: 4px;
  border-style: solid;
  width: 325px;
  height: 110px;
  font-family: 'Black Han Sans', sans-serif;
  color: rgb(58, 12, 163);
  background-color: rgb(223, 156, 213);
  font-size:x-large;
}


.mon-btns:hover {
  background-color: rgb(224, 93, 205);
}

.mon-btns:active {
  background-color: rgb(179, 7, 153);
}


/* back button on MonsterPage */
.back-btn {
  margin:5px 70px;
  width: 75%;
 }

@media screen and (max-width: 480px) {
  #login-box {
    width: 100%;
  }
  /* .navbar {
  } */
  #signup-box {
    width: 100%;
  }
  .login-image {
    width: 45%;
    margin-left: 26.5%;
  }
  .plusImg {
    height: 40vw;
    padding: 15%;
  }
  .dashImg {
    height: 40vw;
  }
  footer {
    position: relative;
  }
  .pencil {
    float: right;
  }
  /* Monster Page */
  .row {
    margin-top: -50px;
  }
  .monster-page-image{
    width: 40%;
    padding-top: 9%;
    padding-left: 10%;
    margin: 0;
  }
  .biome{
    position: relative;
    top: -46%;
    width: 100%;
    z-index:-1;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: 2px solid purple;
    border-radius: 0;
  }
  
  #disco-ball {
    width: 48%;
    padding: 0;
    margin: -40%;
    margin-left: 10%;
    z-index: 1;
  }
  
  #burger-rain {
    z-index:1;
    padding: 0;
    width: 75%;
    margin: -40%;
  }
  
  .image-column{
    padding: 0;
    margin: 0;
  }
  .mon-btn-container {
    padding: 0 !important;
    margin-top: -200px;
    display: flex;
    justify-content:center;
  }
  
  .mon-btns {
    border-color: var(--lightblue);
    border-radius: 60%;
    border-width: 4px;
    border-style: solid;
    width: 325px;
    height: 110px;
    font-family: 'Black Han Sans', sans-serif;
    color: rgb(58, 12, 163);
    background-color: rgb(223, 156, 213);
    font-size:x-large;
    margin-left: 4%;
  }
  
  /* back button on MonsterPage */
  .back-btn {
    margin:5px 25%;
    width: 50%;
   }
   /* Egg*/
   .eggBtn {
    border: 0;
    background-color: #390ca300;
    padding-top: 15%;
    padding-bottom: 10%;
  }
  
  
  .eggImg {
    width: 100%;
    height: 100vw;
    object-fit: contain;
  }

}